name: Continuous Integration
on: push

jobs:
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@2
      - name: Set Node.js
          uses: actions/setup-node@2
          with:
            node-version: "16.14.0"
            cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm test
